
<style>

  .swiper-button-prev,  .swiper-button-next {
    top : 23%!important;
  }

  .popup-container .popup {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 25px;
    width: 100% !important;
    height: 100% !important;
}

.item-select {
    position: relative;
    font-size: 12px;
}

.item-checkbox {
    padding-left: 60px;
    font-size: 12px;
}

input[type="file"] {
    line-height: 34px;
    font-size: 12px;
    border-color: rgba(0, 0, 0, 0.6);
    background-color: #32383e;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #000;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color:#FFF!important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0)  ;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: rgba(255, 205, 86, 1);
    text-decoration: none;
    background-color: #000;
    border: 1px solid #000;
}

</style>
<ion-view view-title="Consultant" style="border-radius:20px!important" class="pane">
  <ion-tabs class="tabs-icon-top">

    <ion-tab title="Nos consultants" icon-on="ion-person" icon-off="ion-person">
      <div class="item item-divider" style="text-align:center!important">
        <i class="icon ion-close-circled CloseButton" ng-click="ClosePopup('nos-consultants')" style="font-size:35px!important;"></i>
        <h2>Nos consultants</h2>
      </div>
  

    <table class="table table-striped table-bordered dataTable" ng-rows="names">

        <thead>
            <tr>
                <th>ID</th>
                <th ng-sortable>First Name</th>
                <th ng-sortable>Last Name</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-row>
                <td>{{row.id}}</td>
                <td>{{row.firstName}}</td>
                <td>{{row.lastName}}</td>
            </tr>
        </tbody>

    </table>

 <!--
  <div class="list">

    <a href="#" class="item item-icon-left">
      <i class="icon ion-person"></i>
      Genevieve
     </a>
    <a href="#" class="item item-icon-left">
      <i class="icon ion-person"></i>
      Nadege 
   </a>
    <a href="#" class="item item-icon-left">
      <i class="icon ion-person"></i>
      Mathieu
    </a>
    <a href="#" class="item item-icon-left">
      <i class="icon ion-person"></i>
      Iria
    </a>
    <a href="#" class="item item-icon-left">
      <i class="icon ion-person"></i>
      Abelaïd
    </a>
    <a href="#" class="item item-icon-left">
      <i class="icon ion-person"></i>
      Yanis
    </a>


</div>

-->
</ion-tab>
</ion-tabs>

  <toast></toast>

</ion-view>
